body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: radial-gradient(circle, #888 1.5px, transparent 1.5px);
    background-size: 30px 30px;
    animation: moveBackground 1s linear infinite;
    overflow: hidden;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 30px 30px;
    }
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.buttons button {
    align-items: center;
    gap: 1rem;
    justify-content: center;
    font-size: 18px;
    padding: 14px 24px;
}
